# My Jupyter Notebook on IBM Watson Studio

**Kashif Hussain**
-------------
I want to become a Data Scientist

*I am very interested in playing with data that's why i wanna be a data scientist*

### My code perform simple mathmatical operations e.g +,-,/,*

In [3]:
print("first no = 10")
print("Second no = 20")
a=10
b=20
print("Addition operation ( 10+20 ) = " + str(a+b))
print("Subtraction operation ( 10-20 ) = " + str(a-b))
print("Multiplication operation ( 10*20 ) = " + str(a*b))
print("Division operation ( 10/20 ) = " + str(a/b))

first no = 10
Second no = 20
Addition operation ( 10+20 ) = 30
Subtraction operation ( 10-20 ) = -10
Multiplication operation ( 10*20 ) = 200
Division operation ( 10/20 ) = 0.5

### Horizontal Line
speed = distace / time 
***
velocity = displacement / time

### Number list
**Top Pakistani Heroes**
1. Quaid-e-Azam
2. Alama Iqbal
3. Edhi
### Bullet list
- Pakistan
 - Punjab
 * Attock
### Blocked quotes
>One Day a Successful Data Scientist
### Table 
|Name|Age|Class|
|---|-----|-------|
|Zubair|20|15|
|---|-----|-------|
|Hani|22|14.5|